<!DOCTYPE html>
<html>
  <head>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">


    {% block head %}
        <link rel="stylesheet" type="text/css"
              href="{{ url('static', filename='style.css') }}" />
        <title>{{title}}</title>
    {% endblock %}
  </head>
  <body>
    <h1>{{title}}</h1>
    <div>
      {% block content %}
      {% endblock %}
    </div>
  </body>
</html>